body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#navbar form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 15px 0;
}

#new-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#new-msg-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#new-msg-form > * {
	margin: 5px;
}
