body {
  padding: 0;
  margin: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #041B15;
}

a, h1, h2, h4, label {
  color: #4CE0D2;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #4CE0D2;
}

#navbar h4 {
  margin: 0;
}

#navbar #nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar #nav-items a {
  margin: 0 0 0 20px;
}

#main {
  padding: 0 50px;
}

#login, #signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login form, #signup form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#login form *, #signup form * {
  margin: 2px 0 2px 0;
}

#login form button, #signup form button {
  background-color: #4CE0D2;
  color: #041B15;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  margin-top: 2px;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board > p {
  color: #4CE0D2;
  margin: 0;
  margin-top: 10px;
}

#board > a {
  margin-top: 10px;
}

.msg {
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 15px 0;
  min-width: 300px;
  max-width: 450px;
  min-height: 153px;
  background-color: #84CAE7;
}

.msg:hover {
  /* 
    Add hover on the cards
    Stylize links (hover)
    Add footer
  */
}

#new-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#new-msg-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#new-msg-form > * {
	margin: 5px;
}
