body {
  padding: 0;
  margin: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #041B15;
}

a, h1, h2, h4, label {
  color: #4CE0D2;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#navbar a {
  text-decoration: none;
  border: 2px solid #4CE0D2;
  border-radius: 8px;
  padding: 5px 8px;
  margin: 0 0 0 20px;
}

#navbar a:hover {
  background-color: #4CE0D2;
  color: #041B15;
  transition: transform
}

#navbar h4 {
  margin: 0;
}

#navbar #nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main {
  padding: 0 50px;
}

#login, #signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form * {
  margin: 2px 0 2px 0;
}

button {
  background-color: #041B15;
  color: #4CE0D2;
  border-radius: 8px;
  width: 75px;
  height: 30px;
  margin-top: 2px;
  border: 2px solid #4CE0D2;
}

button:hover {
  background-color: #4CE0D2;
  color: #041B15;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board > p {
  color: #4CE0D2;
  margin: 0;
  margin-top: 10px;
}

#board > a {
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid #4CE0D2;
  border-radius: 8px;
  padding: 5px 8px;
}

#board > a:hover {
  background-color: #4CE0D2;
  color: #041B15;
}

.msg {
	border: 2px solid #4CE0D2;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 15px 0;
  min-width: 300px;
  max-width: 450px;
  min-height: 153px;
  color: #4CE0D2;
  transition: transform 0.5s ease-out 0.05s;
}

.msg:hover {
  background-color: #4CE0D2;
  color: #041B15;
  transform: scale(1.1, 1.1);
}

#new-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#new-msg-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#new-msg-form > * {
	margin: 5px;
}

input, textarea {
  background-color: #041B15;
  color: #4CE0D2;
  border: 2px solid #4CE0D2;
  border-radius: 8px;
  padding: 4px;
}

input:focus, textarea:focus {
  background-color: #4CE0D2;
  color: #041B15;
}
